texplate-config.tex
library.bib

.DS_Store

_minted-*

*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb
*.xdy
*.xmpi
*.tdo
